# Server Configuration
PORT="4000"
NODE_ENV="development"
TARGET_URL="https://yupsis.com/contact"

# Database URL
DATABASE_URL="postgresql://postgres.wxyzjmvugabjvtzewuue:3KCF5OJwgdEaql5l@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"

# Bright Data Proxy
PROXY_SERVER="http://brd.superproxy.io:33335"
PROXY_USERNAME="brd-customer-hl_1844116d-zone-residential_proxy1"
PROXY_PASSWORD="qqyb5yx9b4w0"