# Server Configuration
PORT="4000"
NODE_ENV="development"
API_KEY="secret"
TARGET_URL="https://yupsis.com/contact"

# Database URL
DATABASE_URL="postgresql://postgres.wxyzjmvugabjvtzewuue:3KCF5OJwgdEaql5l@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"